<form #createBucket='ngForm' (submit)='addBucket(); createBucket.resetForm()'>
  Name: <input type="text" #n="ngModel" [(ngModel)]="newBucket.item" name="name" required>
  Description: <input type="text" #d="ngModel" [(ngModel)]="newBucket.desc" name="desc" required>
  Tag User:
  <select [(ngModel)]="owner2" name="owner">
    <option value="{{loggedUser._id}}"></option>
    <option *ngFor="let name of names" [value]="name._id">
      {{name.name}}
    </option>
  </select>
  <input type="submit" value="Add Bucket List Item" [disabled]="!createBucket.valid">
</form>

<table>
  <thead>
    <tr>
      <td colspan="5"><b>Before I die I want to...</b></td>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let bucket of userbuck.buckets, let indx = index">
      <td><input type="checkbox" [(ngModel)]="bucket.done" (change)="updateCompleted(bucket._id, idx)"></td>
      <td><b>{{bucket._creator}}</b>-</td>
      <td>{{bucket.item}}-</td>
      <td>{{bucket.desc}}-</td>
      <td>{{bucket.createdAt | date: 'short'}}</td>
    </tr>
  </tbody>
</table>

<h3>List of other logged users</h3>
<ul>
  <li *ngFor="let name of names"><a [routerLink]="['/dashboard','list',name._id]">{{name.name}}</a></li>
</ul>
